NODE_ENV=development
PORT=7878
URL_AVT=http://192.168.2.19
SECRET_KEY = 8Zz5tw0Ionm3XPZZfN0NOml3z9FMfmpgXwovR9fp6ryDIoGRM8EPHAB6iHsc0fb
JWT_EXPIRE = 1h
SECRET_REFRESH_KEY = SEJNUkVGUkVTSFRPS0VO
JWT_REFRESH_EXPIRE = 10d


DB_NAME=hmb_db
DB_USER=postgres
DB_PASS=Admin@123
DB_HOST=localhost